.header {
    
}
.click {
    background-color: aqua;
    color: white;
    border-radius: 5px;
}

nav .side {
    background-color: aqua;
    color: white;
}

.side {
    background-color: aqua;
}

.main-bottom {
    background-color: grey;

    gap: 20px;
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: black;
}

.action {
    color: black;
    justify-items: flex-end;
}

.right {
    background-color: grey;
    grid-template-rows: auto auto;
}

.announcements {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: black;
}

.trending {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: black;
}



